body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 20px;
}

.project-item {
    border-left: 2px solid #007BFF;
    padding-left: 30px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.project-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007BFF;
}

.project-description {
    font-size: 16px;
    line-height: 1.6;
}

.back-button {
    margin-top: 20px;
}