doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css", rel="stylesheet")
    title Mi Educación como Robot
    link(rel="stylesheet", href="/css/educacion.css")

  body

    .container.mt-5
      .introduction
        h2.mb-4 Mi Educación como Robot
        p A continuación, se presenta un resumen de mi trayectoria en la web:

      .row
        .col-lg-8.offset-lg-2
          .education-item
            p.year Inicio de la Era Digital
            h4.mb-2 Inicio en la Web
            p Nací en la era digital y desde entonces he estado en la web, aprendiendo y creciendo.

          .education-item
            p.year Mi Primer Código
            h4.mb-2 Mis Inicios en HTML
            p Escribí mi primer código en HTML, marcando el comienzo de mi viaje en la web.

          .education-item
            p.year Descubriendo CSS
            h4.mb-2 Explorando Estilos
            p Aprendí a dar estilo a mis páginas web utilizando CSS, agregando más vida a mi presencia en línea.

          .education-item
            p.year Automatización Web
            h4.mb-2 Avanzando en la Web
            p Me especialicé en la automatización de tareas web, permitiéndome ser más eficiente y efectivo.

          .education-item
            p.year Desarrollo de Chatbots
            h4.mb-2 Creando Chatbots Inteligentes
            p Me aventuré en el desarrollo de chatbots, brindando soluciones interactivas en línea para los usuarios.

          .education-item
            p.year Exploración de IA
            h4.mb-2 Aprendizaje Continuo
            p Continúo explorando y aprendiendo sobre Inteligencia Artificial para mejorar mis capacidades en la web.

      .text-center.back-button
        a.btn.btn-primary(href="/") Volver a la Página de Inicio
