<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirmación</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/confirmacion.css">
</head>
<body>
  <div class="container confirmation-container">
    <h1 class="confirmation-title">¡Gracias por tu mensaje!</h1>
    <p class="confirmation-text">Muy pronto nos pondremos en contacto contigo.</p>
    <a href="/" class="btn btn-custom">Volver a la Página de Inicio</a>
  </div>
</body>
</html>
