<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Mis Habilidades</title>
    <link rel="stylesheet" href="/css/habilidades.css">
</head>

<body>

    <div class="container mt-5">
        <div class="center-content">
            <h2 class="mb-4">Mis Habilidades</h2>
            
            <div class="skill-box">
                <div class="skill-category">Desarrollo Web</div>
                <ul class="skill-list">
                    <li class="skill-list-item">HTML</li>
                    <li class="skill-list-item">CSS</li>
                    <li class="skill-list-item">JavaScript</li>
                    <li class="skill-list-item">PHP</li>
                    <li class="skill-list-item">Python</li>
                    <li class="skill-list-item">Frameworks de Frontend: React, Angular</li>
                    <li class="skill-list-item">Frameworks de Backend: Express.js, Django</li>
                </ul>
            </div>

            <div class="skill-box">
                <div class="skill-category">Base de Datos</div>
                <ul class="skill-list">
                    <li class="skill-list-item">MySQL</li>
                    <li class="skill-list-item">MongoDB</li>
                    <li class="skill-list-item">SQLite</li>
                </ul>
            </div>

        </div>
        <div class="text-center back-button">
            <a href="/" class="btn btn-primary">Volver a la Página de Inicio</a>
        </div>
    </div>

</body>

</html>
