<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Mis Proyectos</title>
    <link rel="stylesheet" href="/css/proyectos.css">
</head>

<body>

    <div class="container mt-5">
        <h2 class="mb-4">Mis Proyectos</h2>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="project-item">
                    <p class="year">Proyecto 1 - Librería</p>
                    <h4 class="project-title">Librería de libros online con Laravel - 3er ciclo</h4>
                    <p class="project-description">
                        En el 3er ciclo de estudios, realizamos con 3 compañeros mas de clase, un proyecto de una librería online desarrollado 
                        en Laravel con PHP, no fue un gran rpoyecto así decirlo, pero era algo con lo que se empezó, se usó PHP como dije, 
                        Laragon, MySQL, html y css.
                    </p>
                </div>
                <div class="project-item">
                    <p class="year">Proyecto 2 - Reproductor de música</p>
                    <h4 class="project-title">Reproductor de música online</h4>
                    <p class="project-description">
                        También se desarrolló un proyecto de de una página web con Laravel que se asaba e un lugar donde pudieses subir musica con su
                        respectiva imagen, esto con un usuario logueado, estas musicas subidas se veían en una página de inicio, si ingresabas con otro 
                        usuario, podías darle me gusta o comentar la canción, lo único que probablemente le faltó a ese proyecto fue que hubiese una opción 
                        de descargar las canciones que estaban subidas.
                    </p>
                </div>
                <div class="project-item">
                    <p class="year">Proyecto 3 - Control de Asistencia</p>
                    <h4 class="project-title">Control de Asistencia con Arduino en un servidor AWS</h4>
                    <p class="project-description">
                        En el 4to ciclo se desarrolló un proyecto algo mas amplio, trabajando con programación, servidor, arduinos y otros elementos de electrónica, 
                        todo esto para implementar un control de asistencia de los alumnos al momento de ingresar al aula, con una clave que se generaba para el 
                        alumno desde su celular, ya que tambien se creó un aplicativo móvil donde el alumno como el profesor podían ingresar, el alumno tenía un 
                        fragmento o ventana donde se generaba un clave aleatoria por 30 segundos, al momento de generar esa clave, debía ingresarlo por el teclado 
                        matricial (y los números y letras que se colocaba se veía en un LCD 16x2), al enviar la clave, se mandaba a un servidor MQTT, donde si veía 
                        que era correcto la clave, se registraba la asitencia, esto se trabajó con Django (para el sitio web y las API), aplicativo movil como ya lo 
                        dije anteriormente (para generar la clave, ver tus asitencias, tus notas). 
                    </p>
                </div>
                <div class="project-item">
                    <p class="year">Proyecto 4 - Desarrollo de E-COMMERCE - Aplicativo Web</p>
                    <h4 class="project-title">Desarrollo de E-COMMERCE / Desarrollo de Aplicativo Web</h4>
                    <p class="project-description">
                        Participé en un proyecto de desarrollo E-commerce con Django y un aplicativo web interactivo. Adquirí 
                        habilidades sólidas en comercio electrónico, colaboración en equipos multidisciplinarios y diseño de 
                        interfaces interactivas. Mi contribución incluyó la entrega de funcionalidades clave y la aplicación 
                        de conocimientos en desarrollo real. Este proyecto demostró mi capacidad para resolver problemas técnicos 
                        y aplicar conceptos en situaciones del mundo real, fortaleciendo mi formación técnica y habilidades en 
                        desarrollo web y electrónica.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center back-button">
            <a href="/" class="btn btn-primary">Volver a la Página de Inicio</a>
        </div>
    </div>

</body>

</html>
